<div class="m-5">
  <form
    (ngSubmit)="onSubmit(todoForm)"
    #todoForm="ngForm"
    class="max-w-md mx-auto"
  >
    <mat-form-field class="w-full">
      <input
        matInput
        placeholder="Title"
        name="title"
        [(ngModel)]="todoItem.title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
        Title is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <textarea
        matInput
        placeholder="Description"
        name="description"
        [(ngModel)]="todoItem.description"
        required
        #description="ngModel"
        rows="5"
      ></textarea>
      <mat-error
        *ngIf="
          description.invalid && (description.dirty || description.touched)
        "
      >
        Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <input
        matInput
        [matDatepicker]="dueDatePicker"
        placeholder="Due Date"
        name="dueDate"
        [(ngModel)]="todoItem.dueDate"
        required
        #dueDate="ngModel"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dueDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #dueDatePicker></mat-datepicker>
      <mat-error *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)">
        Due Date is required
      </mat-error>
    </mat-form-field>
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded mr-2 disabled:bg-gray-400 disabled:cursor-not-allowed"
        [disabled]="todoForm.invalid"
      >
        Submit
      </button>
      <button
        type="button"
        class="text-white bg-red-600 font-bold py-2 px-4 rounded mr-2 hover:bg-red-500"
        (click)="closeDialog()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
